*{
    padding: 0;
    margin: 0;
}
header{
    background-color:#00a8f3;
    height: 80px;
}
h1{
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    width:210px;
    background-size: contain;
    font-family: 'Arial black';
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header li{
    display: inline;
    margin-right: 4vw;
    font-family: '得意黑';
}
header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}
section {
    background-color: #bae0f5;    
}
.one {
    background-image: url(image/background2.jpg);
    background-color: #bae0f5;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    display: flex;
    justify-content: left;
    font-family:'Cooper Black';
}
.one img{
    height: 25vh;
    width: 25vh;
    position: relative;
    left:10vh;
    top:10vh;
}
.one li{
list-style: none;
font-size: 4vh;
position: relative;
    left: -15vh;
    top: 45vh;
    font-family:'微软雅黑';
}
.one .introduce {
    width: 33vh;
    position: relative;
    top:10vh;
    font-family:'微软雅黑';
}
.one .introduce h4{
    font-size: 4vh;
}
.one .introduce p{
    font-size: 2.6vh;
}
.one .topic p{
width: 15vh;
font-size: 15vh;
position: relative;
right: -75vh;
top:10vh;
font-family: '华文新魏';
}
footer {
    background-color:#000000;
    color:#B7B7B7;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    line-height: 0.9em;
}
@media screen and (max-width:768px) {
    header ul{
    display: none;
    }
    header h1{
    left: 50%;
    transform: translateX(-50%);
}
}